<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
</head>
<body>
	<form action="/servletMain/member" method="post">
		이름 : <input type="text" name="name"><br>
		나이 : <input type="text" name="age"><br>
		직업 : <input type="text" name="job"><br>
		전화번호 : <input type="text" name="phone" size=3 maxlength=3> -
				<input type="text" name="phone" size=4 maxlength=4> - 
				<input type="text" name="phone" size=4 maxlength=4><br>
		<input type="submit" value="전송">
	</form>
</body>
</html>