<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>실습</title>
</head>
<body>
	<!-- 이름(name), 여행지 선택(city: 서울, 뉴욕, 런던, 파리) -->
	<h3>여행지를 선택하세요(2개 이상 선택)</h3>
	<form method="post" action="/servletMain/travel">
		이름 : <input type="text" name="name">
		<br>
		여행지 : 
		<label><input type="checkbox" name="city" value="서울">서울</label>
		<label><input type="checkbox" name="city" value="뉴욕">뉴욕</label>
		<label><input type="checkbox" name="city" value="런던">런던</label>
		<label><input type="checkbox" name="city" value="파리">파리</label>
		<br>
		<input type="submit" value="전송 w/ JavaScript">
		<input type="button" value="전송 w/o JavaScript" id="woJS">
	</form>
	
	<script type="text/javascript">
		form = document.querySelector('form'); // form 태그 선택
		
		document.getElementById('woJS').onclick = function() {form.submit();}; // form 요소의 submit() 메서드는 submit 이벤트를 발생시키지 않고(=onsubmit 이벤트 핸들러를 실행하지 않고) JavaScript로 직접 form을 서버에 전송
		
		form.onsubmit = function(event) { // onsubmit 이벤트 핸들러 정의
			let name = document.getElementsByName('name')[0];
			if(!name.value.trim()) {
				alert('이름을 입력하세요!');
				return false;
			}
			
			let count = 0;
			let cities = document.getElementsByName('city');			
			for(let i=0;i<cities.length;i++) {
				if(cities[i].checked) count++;
			}
			if(count<2) {
				event.preventDefault();
				alert('여행지를 2곳 이상 선택하세요!');
			}
		};
	</script>
</body>
</html>