@charset "UTF-8";

.page-main {
	width: 900px;
	margin: 0 auto;
}
.result-display {
	width: 400px;
	height: 200px;
	border: 1px solid #000;
	/* <div>를 화면 중앙에 배치하기 위한 설정 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* <div>의 내용을 <div>의 중앙에 배치하기 위한 설정 */
	display: flex;
	align-items: center; /* 세로 정렬 */
	justify-content: center; /* 가로 정렬 */
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/* 회원 가입, 수정 폼 */
form {
	width: 500px;
	margin: 0 auto;
	padding: 10px 10px 10px 30px;
	border: 1px solid #000;
}
ul {
	list-style: none;
}
label {
	width: 120px;
	float: left;
}