@charset "UTF-8";
/* 전체 */
@font-face { font-family: NanumSquare; src: url('NanumSquareR.woff2') format('woff2'), url('NanumSquareR.woff') format('woff'), url('NanumSquareR.ttf') format('truetype'); font-display: swap; }
* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #666;
	background: #222121;
	font-family: 'Lato', 'NanumSquare', 'Noto Sans CJK KR', 'Noto Sans KR', 'Noto Sans', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}
#wrap {
	background: #fff;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

/* 링크 효과 */
a {
	text-decoration: none;
	color: #9789e8;
}
a:hover {
	color: #8474e4;
	transition: color 0.5s ease;
}

/* 드래그 효과 */
:not(img) ::selection {
	color: #fff;
	background-color: rgb(151 137 232 / 99.6%);
}
img ::selection {
	color: #fff;
	background-color: rgb(151 137 232 / 60%);
}
#page-banner ::selection {
	color: #fff;
	background-color: rgb(151 137 232 / 60%);
}
footer ::selection {
	color: #999;
	background-color: transparent;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* 데스크탑 머리말 */
#page-top {
	width: 100%;
	height: 80px;
	margin: 0;
	padding: 0;
	color: #fff;
	background: rgb(0 0 0 / 0.9);
	border-top: 5px solid #9789e8;
	position: fixed;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}
#page-top a, #page-header a:hover {
	color: #fff;
}
#page-top h1 {
	height: 75px;
	margin: 0;
	padding: 25px;
	font-size: 1.5rem;
}
#page-top nav {
	margin: 0 0 0 auto;
	padding: 0;
}
#page-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	display: inline-flex;
}
#page-top ul li {
	height: 75px;
	padding: 25px 20px;
}
#page-top ul li:hover {
	background: #9789e8;
	transition: background-color 0.5s ease;
}
/* hover시에만 서브메뉴 보이게 하기  */
#page-top ul.dropdown-menu {
	position: fixed;
	top: 80px;
	right: 0px;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.25s ease-out, opacity 0.5s ease;
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: normal;
}
#page-top ul.dropdown-menu li {
	height: 40px;
	margin: 0;
	padding: 10px 60px 10px 20px;
	background: rgb(0 0 0 / 0.9);
}
#page-top ul.dropdown-menu li:hover {
	border-left: solid 5px #8474e4;
	transition: border-left 0.5s ease;
}
#page-top li.dropdown:hover ul.dropdown-menu {
	visibility: visible;
	opacity: 1;
}

/* 모바일 머리말 */
#mobile-page-top {
	width: 100%;
	height: 80px;
	margin: 0;
	padding: 0;
	color: #fff;
	background: rgb(0 0 0 / 0.9);
	border-top: 5px solid #9789e8;
	position: fixed;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-transform: uppercase;
	text-align: center;
}
#mobile-page-top a, #mobile-page-top a:hover {
	color: #fff;
}
#mobile-page-top h1 {
	height: 75px;
	margin: 0;
	padding: 25px;
	font-size: 1.5rem;
}
#mobile-page-top nav {
	margin: 0 0 0 auto;
}
#mobile-page-top nav a:hover {
	color: #9789e8;
	transition: color 0.5s ease;
}
#mobile-page-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
}
#mobile-page-top nav > ul {
	flex-wrap: nowrap;
}
/* 클릭시에만 hamburger menu 보이게 하기 */
#mobile-page-top .dropdown-menu {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.25s ease-out, opacity 0.5s ease;
	background: rgb(0 0 0 / 0.9);
}
#mobile-page-top .dropdown-menu li {
	padding: 0 50px 25px;
}
#mobile-page-top .dropdown-menu li a.active {
	color: #8474e4;
}
#mobile-page-top #toggle_checkbox {
	display: none;
}
#mobile-page-top label {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 75px;
	margin: 0;
	padding: 15px 0;
	cursor: pointer;
}
#mobile-page-top #toggle_checkbox:checked ~ .dropdown-menu {
	visibility: visible;
	opacity: 1;
}
/* 클릭시 hamburger menu 버튼 모양 토글하기 */
#mobile-page-top label div
{
    width: 30px;
    height: 3px;
    margin: 0 auto;
    background-color: #fff;
    transition: 0.25s ease transform, 0.25s ease width;
}
#mobile-page-top #toggle_checkbox:checked + label div:first-child
{
	width: 36px;
	transform-origin: top left;
    transform: rotateZ(45deg);
}
#mobile-page-top #toggle_checkbox:checked + label div:last-child
{
	width: 36px;
	transform-origin: bottom right;
    transform: translate(-12.6px, 0.6px) rotateZ(45deg);
}
#mobile-page-top #toggle_checkbox:checked + label div:nth-child(2)
{
	width: 36px;
	transform-origin: bottom left;
	transform: translateY(12px) rotateZ(-45deg);
}
/* hover시에만 서브메뉴 보이게 하기 */
#mobile-page-top ul.dropdown-menu ul.dropdown-menu {
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.25s ease-out, opacity 0.5s ease;
	text-transform: capitalize;
	font-size: 0.9rem;
	font-weight: normal;
	background: rgb(0 0 0 / 0);
}
#mobile-page-top ul.dropdown-menu ul.dropdown-menu li {
	margin: 0;
	padding: 25px 0 0;
}
#mobile-page-top ul.dropdown-menu li.dropdown:hover ul.dropdown-menu {
	display: block;
	visibility: visible;
	opacity: 1;
}

/* 배너 */
#page-banner {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0;
	padding: 175px 0;
	color: #fff;
	background-color: #222121;
	background-image: url(sublime-bg-8.png);
	background-image: linear-gradient(to bottom, rgb(0 0 0 / 25%), rgb(0 0 0 / 0%)), url(sublime-bg-8.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-style: italic;
	text-align: center;
}
#page-banner h1 {
	font-size: 3rem;
	line-height: 3rem;
}
#page-banner p {
	margin-top: 100px;
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: bold;
}

/* 본문 */
section {
	width: 960px;
	margin: 0 auto;
	font-size: 1.2rem;
	line-height: 2rem;
}
#contents {
	padding: 0 25px;
}
section li {
	margin-bottom: 1rem;
	font-weight: bold;
}
section li li {
	list-style-type: disc;
	font-weight: normal;
}
hr {
	margin: 50px 0;
}
#contact {
	float: left;
	margin: 0 0 50px 0;
	padding: 10px;
}
#contact a {
	display: inline-block;
	margin: 0;
	padding: 10px;
	border: 3px solid #8474e4;
	color: #fff;
	background: #8474e4;
	text-transform: uppercase;
	text-align: left;
}
#contact a:hover {
	color: #000;
	border: 3px solid #000;
	background: transparent;
	transition: all 0.5s ease;
}
#note {
	float: right;
	margin: 0 0 50px 0;
	padding: 10px 0;
	text-align: right;
	font-size: 0.8em;
	line-height: 1.6em;
	font-weight: normal;
	font-style: italic;
}

/* 꼬리말 */
#page-footer {
	margin: 0 0 50px 0;
	padding: 50px;
	clear: both;
	color: #666;
	background: #222121;
	text-align: center;
}
#page-footer ul {
	margin: 0;
	padding: 0;
}
#page-footer ul li {
	margin: 0 20px;
	padding: 0;
	list-style: none;
	display: inline-flex;
	text-transform: uppercase;
}
#page-footer ul li a {
	color: #666;
}
#page-footer ul li a:hover {
	color: #999;
}

/* 반응형 */
@media screen and (min-width:993px) {
	#mobile-page-top {
		display: none;
	}
}
@media screen and (max-width:992px) {
	#page-top {
		display: none;
	}
	section {
		width: 100%;
	}
}
@media screen and (max-width:500px) {
	#mobile-page-top {
		justify-content: center;
	}
	#mobile-page-top > h1 {
		display: none;
	}
	#mobile-page-top > nav {
		margin: 0;
	}
}